@import "global";

//CardUI.js
.card {
    width: 20rem;

    &:hover {
        box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
    }

    .card-body {
        padding: 0 15px 15px 15px;

        h4,
        p {
            text-transform: uppercase;
        }

        .card-title {
            font-size: $font-size;
            margin-bottom: 20px;
            margin-top: 0;
            font-weight: 400;
            letter-spacing: -.4px;
        }

        .btn {
            line-height: 1;
            text-transform: $text-tranform;
            font-weight: $font-weight-one;
            font-size: $font-sizetwo;
            padding: 15px 20px;
        }
    }

    .card-text {
        font-size: 0.9rem;
    }

    .overflow {
        overflow: hidden;
        margin-bottom: 26px;

        .card-img-top {
            transform: Scale(1);
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.8);
            }
        }
    }
}