@import "global";

//column.js
.column {

    .column-container {
        display: flex;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        background-color: $background-color-one;

        .column-left {
            .column-heading {
                padding-top: 15%;
                padding-right: 10%;
                padding-bottom: 10%;
                padding-left: 10%;



                .btn-primary {
                    background-color: $background-color-blue;
                    opacity: .9;
                    border: 2px solid transparent;


                    .button-text {
                        line-height: normal;
                        text-transform: uppercase;
                        font-weight: $font-weight-one;
                        font-size: 14px;
                    }
                }
            }
        }

        .column-right {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 13px;

            .imager {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}