$displayprimary: table;
$display: table-cell;
$displaytwo: block;
$vertical-align: middle;

$colorwhite: white;
$colorblack: black;

$background-color-blue: #009cff;

$font-size: 16px;
$font-sizemid: 24px;
$font-sizethree: 20px;
$font-sizetwo: 14px;

$font-weight: 600;
$font-weight-one: 700;
$font-weighthalf: 400;

$letter-spacing: -1px;
$background-color: #f4f4f4;
$background-color-one: #f5f5f5;

$text-tranform: uppercase;
$text-align: center;
$box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);


$box-shadowone: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
$border-radius: 36px;

$iconfontsize:17px;