@import "global";

//Header.js

.header {
  .container-header {
    width: 100%;
    height: 100px;
    display: $displayprimary;

    .logos {
      width: 150px;
      height: auto;
      display: $display;
      vertical-align: $vertical-align;
    }

    .header-right {
      display: $display;
      vertical-align: middle;

      .header-top {
        display: inline-table;
        vertical-align: middle;
        position: relative;

        .header-left-info {
          ul {
            list-style: none;
            margin: 0;
            padding-left: 0;

            li {
              margin-right: 30px;
              float: left;
              line-height: 40px;

              .header-label {
                display: block;
                float: left;
                font-size: 2em;
                margin-right: 15px;
                position: relative;
                top: 3px;
              }

              .header-hightlight {
                float: left;
                font-weight: 400;
                line-height: 1;
                text-align: left;

                small {
                  display: block;
                  margin: 7px 0;
                  opacity: 0.9;
                  font-size: 80%;
                  font-weight: 600;
                  text-transform: uppercase;
                }

                strong {
                  color: #009cff;
                }
              }
            }
          }
        }

        .header-rights-info {
          display: $displaytwo;

          .appointment {
            text-decoration: none;
            color: $colorwhite;
          }
        }

        .appoint-button {
          background-color: $background-color-blue;
          font-size: 16px;
          line-height: 2;
          border: none;
          letter-spacing: 1px;
        }
      }
    }
  }
}